

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}



/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

.footer,footer{
    height:500px;
    background-color: #BCF171;
    position: absolute; 

}


@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
    font-family: raleway;
}
body {
	
}
h1{
    color: #BCF171 !important;
    margin:15px ;
    font-size: 96px !important;
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
	min-width: 960px;
	opacity: 0;
}



.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
.main{
	overflow-x: visible;
}



.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}
/* Slide 1 */
#slide-1{  background-color: #2F2933;}

#slide-1>.right{
    background-image:url('../svg/splitcollective-white-right.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:fixed;
    height:100%;
    width: 100%;

}
#slide-1>.left{
    background-image:url('../svg/splitcollective-white-left.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    position:fixed;
    height: 100%;
    width: 100%;
  
}

.container{
    margin-top: 200px;
}

/* Slide 2 */
#slide-2 .bcg { background-color: #2F2933;}

/* Slide 2 */
#slide-3 .bcg { background-color: #2F2933;}

/* Slide 4 */
#slide-5 .bcg  { background-color: #2F2933;background-image:url('../img/split-infographic-1.png');}
.infoGraphic-1 {}
#slide-4 .bcg { background-color: #2F2933;}

/* Slide 6*/
#slide-6 .bcg { background-color: #2F2933;}


.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

.front>p{
    color:white;

}
.back>p{
    color:white !important;
    text-align: center;
}
.back>h2{
    color:white !important;
}
#slide-5{
    background-color: #2F2933;
}
/*
#slide-5 {position: relative;}
#slide-5 .bcg {background-image:url('../img/bcg_slide-5.jpg');}
#slide-5 .bcg2 {background-image:url('../img/bcg_slide-5b.jpg'); position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 1}
#slide-5 .bcg3 {background: none; background-color: #010101; z-index: 2;  position: fixed; bottom: 0; left: 0; opacity: 0; z-index: 2;}
*/
.footer,footer{
    background-color: white; 
    margin-top: 50px;
    text-align: center; 
    padding: 20px; 
    color:black;
    position: fixed; 
}


.hsContainer {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}


#slide-4 p{
    color:white;
}
#slide-4 h2{
    color:white;
}

#slide-2 h2{
    color:white;
}


#slide-2 p{
    color:white;
}

#slide-4 li{
    color:white;
    font-size: 1.5em;
    text-align: left;
}

#slide-5 p{
    color:white;
}
#slide-5 h2{
    color:white;
}

.card-grid{
      width: 200px;
      height: 200px;
      margin: 50px;
      display: inline-block;
}
.svgHold-1{
      background: url("../svg/bulb-white.svg") no-repeat center center;
      width: 150px;
      height: 150px;
}
.svgHold-2{
      background: url("../svg/building-white.svg") no-repeat center center;
     width: 150px;
      height: 150px;
}
.svgHold-3{
      background: url("../svg/pie2-white.svg") no-repeat center center;
       width: 150px;
      height: 150px;
}
.svgHold-4{
      background: url("../svg/money2-white.svg") no-repeat center center;
     width: 150px;
      height: 150px;
}
.svgHold-5{
      background: url("../svg/goals-white.svg") no-repeat center center;
 width: 150px;
      height: 150px;
}
.svgHold-6{
      background: url("../svg/earth-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}
.svgHold-7{
      background: url("../svg/thumbsup-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}
.svgHold-8{
      background: url("../svg/tv-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}
.svgHold-9{
      background: url("../svg/sun-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}
.svgHold-10{
      background: url("../svg/share-white.svg") no-repeat center center;
    width: 150px;
      height: 150px;
}
.svgHold-11{
      background: url("../svg/dial-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}
.svgHold-12{
      background: url("../svg/bag-white.svg") no-repeat center center;
      height:110px;
      width:110px;
}

.hsContent {
	max-width: 450px;
	margin: -150px auto 0 auto;
	display: table-cell;
	vertical-align: middle;
	color: #ebebeb;
	padding: 2% 13%;
	text-align: center;
	position: relative;
	z-index: 10;
}
	.hsContent h2,
	.copy h2 {
		color: black;
		font-size: 1.5em;
		margin-bottom: 12px;
        text-align: center;
	}
	.hsContent p {
		margin: 0 auto;
		color: black;
        color:black;
        font-size: 1.25em;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}


/* Navigation */
#slideNav {
	display: none;
	position: fixed;
	right: 50px;
	top: 40%;
	margin-top: -80px;
	z-index: 11;
}
#slideNav ul {
	list-style: none;
	color: white;
    width:20px;
	font-size: 13px;
	text-align: center;
    overflow: visible;
}
#slideNav li {
	width: 20px;
	height: 20px;
    border-radius: 10px;
    margin: 10px;
	line-height: 50px;
	margin-bottom: 1px;
    right:10%;
    background-color: #BCF171;

}
#slideNav li:hover {
  
    background-color: #2F2933;

}


#slideNav a:hover{
    color:black;


}
.no-rgba  #slideNav li {background-color: #ffffff}
#slideNav a {
	display: block;
	width: 100px;
	height: 50px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: white;
    text-align: left;
    padding-left: 5px;
}
#slideNav a.disabled {
	cursor: default;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.testpath{
  fill:#94d31b;
}

p{
    text-align: justify;
}
