/* Global */

body {
	font-family: 'Arial', Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}




/* Navigation */


.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	float: right;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	font-weight:bold;
	background-color: darkgray !important;
	color:white !important;
}

/* Navigation */
#nav {
	position: fixed;
	right: 15px;
	top: 20%;
	z-index: 11;
}
#nav ul {
	list-style: none;
    width:7%;
	font-size: 13px;
	text-align: center;
    overflow: visible;
}
#nav li {
	width: 100px;
	height: 20px;
    border-radius: 2px;
    margin: 2px;
    padding:7px;
    padding-left: 15px;
	margin-bottom: 1px;
    right:10%;
    background-color: #2F2933;
    color: #BCF171;
    text-align: left;

}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 100px;
	height:auto;
	position: relative;
	
}



/* Slide 1 */ 

#slide1{
	background-position: 0px !important;
	min-height: 800px;
	background: url("../img/homescreen.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color: #BCF171;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide1 p {
	color:black;
	line-height: 2em;
	font-size: 1em;
}




/* Slide 2 */ 

#slide2{
	background-color: #2F2933;
	color:#ffffff;
}
#slide2 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color: #BCF171;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 2em;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide2 p {
	color:white;
	line-height: 2em;
	font-size: 1em;
}



/* Slide 3 */ 

#slide3{
	background-color: #2F2933;
	color:#ffffff;
}
#slide3 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide3 p {
	color:white;
	line-height: 2em;
	font-size: 1em;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	background-color: #2F2933;
	color:#ffffff;
}
#slide4 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide4 p {
	color:white;
	line-height: 2em;
	font-size: 1em;
}


/* Slide 5 */

#slide5{
	background-color: #2F2933;
	color:#ffffff;
}
#slide5 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
	text-align: center;
}
#slide5 h2 {
	font-size: 2em;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
		text-align: center;
}
#slide5 h3 {
	font-size: 20px;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	padding-left: 20px;
	font-weight: 400;
	text-align: left;
}
#slide5 p {
	color:white;
	line-height: 2em;
	font-size: 1em;
}



/* Slide 6 */

#slide6{
	background-color: #2F2933;
	color:#ffffff;
}

/* Slide 7 */

#slide7{
	background-color: #2F2933;
	color:#ffffff;
}
#slide7 h1 {
	font-size: 2em;
	line-height: 0px;
	color: #BCF171;
	font-weight: 700;
	text-align: left;
	margin: 40px;
}
#slide7 h2 {
	font-size: 2em;
	color: #BCF171;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
		text-align: center;
}
#slide7 h3 {
	font-size: 20px;
	color: white;
	line-height: 0px;
	padding-bottom:10px;
	font-weight: 600;
	text-align: left;
}
#slide7 p {
	color:white;
	line-height: 1.5em;
	font-size: .8em;
}

/* Slide 8 */

#slide8 h1 {
	font-size: 2.5em;
	line-height: 0px;
	color: black;
	font-weight: 700;
	text-align: center;
	margin-bottom: 65px;
}

#slide8 h2 {
	font-size: 2em;
	line-height: 0px;
	color: black;
	font-weight: 200;
	text-align: left;
	margin-bottom: 65px;
	margin-top: 20px;
}



.p2 {
	color:white;
	line-height: 20px;
	font-size: 12px;
	padding: 20px;
}

.photoHolderOne{
	background-image:url('../img/SC_08.png');
	background-position: center;
	height: 400px;
	width: 100%;
}
.photoHolderTwo{
	background-image:url('../img/SC_02.jpg');
	background-position: center;
	height: 400px;
	width: 100%;
}
.logoHolder{
	padding-top: 30%;
	margin-left: -5%;
}

.svgHold-0{
      background: url("../svg/logo.svg") no-repeat center center;
      height: 120px;
      width: 480px;
   
}

.svgHold-1{
      background: url("../svg/building-white.svg") no-repeat center center;
      width: 80px;
      height: 80px;
}
.svgHold-2{
      background: url("../svg/house.svg") no-repeat center center;
      width: 80px;
      height: 80px;
}
.svgHold-3{
      background: url("../svg/graph2-white.svg") no-repeat center center;
      width: 80px;
      height: 80px;
}

.svg-bulb{
      background: url("../svg/bulb-green.svg") no-repeat center center;
       width: 70px;
      height: 70px;
}

.svg-graph{
      background: url("../svg/graph3-green.svg") no-repeat center center;
      width: 70px;
      height: 70px;
}

.svg-pie{
      background: url("../svg/pie-green.svg") no-repeat center center;
        width: 70px;
      height: 70px;
}

.svg-leaf{
      background: url("../svg/leaf-green.svg") no-repeat center center;
        width: 70px;
      height: 70px;
}
.svg-goals{
      background: url("../svg/goals-green.svg") no-repeat center center;
     width: 70px;
      height: 70px;
}
.svg-share{
      background: url("../svg/share-green.svg") no-repeat center center;
        width: 70px;
      height: 70px;
}

.row{
	width: 100%;
}
.holder{
	padding-top: 100px;
	padding-bottom: 150px;
}
.centHolder{
	
	padding: 30px;
	display: inline-block;
}

.graphicHolder{
	background-image:url('../img/split-infographic-1.png');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height:870px;
}

input{
	color:black;
	border:none;
	border-bottom: 1px solid black;
}
fieldset{
	border:none;
}
textarea{
	border:1px solid black;
}















/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

.navigation .active{
	cursor:pointer;
	background-color: darkgray !important;
	color: transparent !important;
}

#nav {
	position: fixed;
	right: 3%;
	top: 20%;
	z-index: 11;
}
#nav ul {
	list-style: none;
    width:5%;
	font-size: 13px;
	text-align: center;
    overflow: visible;
}
#nav li {
	width: 50px;
	height: 20px;
    border-radius: 2px;
    margin: 2px;
    padding:2px;
	margin-bottom: 1px;
    background-color: #2F2933;
    color: transparent;
    text-align: left;


}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




